[project]
	description = My documents
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephane Poss (sposs)
[access "refs/for/refs/*"]
	read = group user/Stephane Poss (sposs)
	push = group user/Stephane Poss (sposs)
	label-Code-Review = -2..+2 group user/Stephane Poss (sposs)
	label-Verified = -1..+1 group user/Stephane Poss (sposs)
	rebase = group user/Stephane Poss (sposs)
	removeReviewer = group user/Stephane Poss (sposs)
	submit = group user/Stephane Poss (sposs)
[access "refs/heads/*"]
	read = group user/Stephane Poss (sposs)
	create = group user/Stephane Poss (sposs)
	push = +force group user/Stephane Poss (sposs)
	pushMerge = group user/Stephane Poss (sposs)
[access "refs/tags/*"]
	push = +force group user/Stephane Poss (sposs)
	pushTag = group user/Stephane Poss (sposs)
	pushSignedTag = group user/Stephane Poss (sposs)
